* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 420px;
    justify-content: center;
}

.container .box {
    position: relative;
    height: 180px;
    width: 180px;
    border: 2px solid #333;
    border-radius: 12px;
}

.box .image {
    background-image: url(image.jpeg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.box.hovered{
    border: 2px dashed #333;
}